/* Reset de estilos para garantir consistência */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


header {
    background-color: #4b007a;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #797979;
    color: #292828;
    text-align: center;
    padding: 0.5rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}


main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #6a3287;
    color: #fff;
}

.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}